.sec-mv {
  position: relative;
  width: 100%;
  height: 100vh;

  &__bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);

    .title {
      .main {
        font-size: 40px;
      }
    }
  }
}
