.sec-3 {
  width: 100%;
  height: 100vh;
  background-color: #d6d6d6;

  .sec-title {
    white-space: nowrap;
  }

  .sec-wrapper {
    position: relative;
    display: flex;
    width: 100%;

    .name-wrap {
      position: relative;
      width: 100%;
      white-space: nowrap;
    }

    .name-wrap-right {
      position: absolute;
      right: 100vw;
    }
  }
}
